:root{
	--hover-color: hsl(200, 60%, 50%);
}

html, body{
	padding: 0;
	margin: 0;
}

.main{
	width: 25em;
}

.save-new{
	display:flex;
	padding: 4px 4px;
}

.save-new__input{
	flex-grow: 10;
	margin-right: 2px;
	font-size: 1em;
}

.save-new__button{
	padding-left: .2em;
	padding-right: .2em;
	font-size: 120%;
}

.tab-saver-items{
	display:flex;
	flex-flow: column;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

.tab-saver-items:empty::after{
	content: "No TabSets";
	display: block;
	text-align: center;
	font-size: 110%;
	margin-top: .5em;
	margin-bottom: .5em;
}

.tab-saver-item{
	--padding-x: 6px;
	--padding-y: 4px;
	padding: var(--padding-y) var(--padding-x);
	background: hsl(200, 10%, 96%);
	display:flex;
	flex-wrap: nowrap;
	align-items:center;
	margin-bottom: 1px;
}

.tab-saver-item__title{
	flex-grow: 10;
}

.tab-saver-item-button{
	margin-left:.2em;
	margin-right:.2em;
	transition: opacity .2s;
}

.tab-saver-item-button:hover{
	color:var(--hover-color);
}

.tab-saver-item:not(:hover) .tab-saver-item-button{
	opacity: 0;
}

.notification{
	margin: 2px;
	padding: 2px;
	background: rgba(0,0,0,.05);
	text-align: center;
}

.notification:empty{
	display: none;
}

.tab-saver-item__title[contenteditable=true]{
	font-weight: bold;
}

.prefs{
	display:flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
	background: hsl(0, 0%, 95%);
	-moz-user-select: none;
	user-select: none;
	border-top: 1px solid rgba(0,0,0,.1);
}

.prefs__export, .prefs__import{
	padding:.5em;
	flex:1;
	text-align: center;
}

.prefs__export:hover, .prefs__import:hover{
	color:var(--hover-color);
}

.prefs__export:active, .prefs__import:active{
	background: hsl(0, 0%, 85%);
}

@media (max-width: 250px){
	.main{
		width: auto;
	}
	.save-new{
		padding: 4px 0px;
	}
	.tab-saver-item{
		--padding-x: 4px;
	}
	.prefs{
		flex-wrap: wrap;
		height: auto;
		margin-top:.2em;
		border-top: none;
	}
	.prefs__export, .prefs__import{
		flex-basis: 100%;
	}
}

button{
	padding:0;
}