@font-face {
	font-family: IcoMoon;
	src: url(/icons/icomoon-icons/icomoon.woff);
}

:root {
	--hover-color: Highlight;
}

html,
body {
	padding: 0;
	margin: 0;
}

.font-icon {
	font-family: IcoMoon;
}

.hidden {
	display: none;
}

.button {
	padding-left: 0.4em;
	padding-right: 0.4em;
	line-height: 1em;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background: #fff;
	display: flex;
	align-items: center;
}

.button:hover {
	background: #eee;
}

.button:active {
	background: #ccc;
}

.inline-button {
	background: none;
	border: none;
	font: inherit;
	padding: 0.2em 0.3em;
	border-radius: 0.2em;
}

.inline-button:hover:not(:disabled) {
	color: var(--hover-color);
}

.inline-button:active:not(:disabled) {
	background: hsl(0, 0%, 85%);
}

.inline-button:disabled {
	opacity: 0.2;
}

.color-select {
	display: flex;
	flex-direction: row;
	display: inline-block;
}

.color-select__item {
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid transparent;
	transition: width 0.4s, border-width 0.4s, margin-right 0.4s;
	transition-delay: 0s;
}

.color-select__item:first-child {
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.color-select__item:not(:last-child) {
	margin-right: 0.2em;
}

.color-select:not(:hover) .color-select__item:not(.color-select__item-current) {
	width: 0;
	border-width: 0;
	margin-right: 0;
	transition-delay: 0.8s;
}

.color-select__item-current {
	border-color: rgba(0, 0, 0, 0.6);
}

.main {
	max-width: 330px;
}

.save-new {
	display: flex;
	padding: 4px 4px;
}

.save-new__input {
	flex-grow: 10;
	margin-right: 2px;
	font-size: 1em;
	min-width: 10em;
}

.save-new__button {
	font-size: 120%;
}

.content {
	max-height: 500px;
	overflow-y: scroll;
}

/* toggle-button */

.toggle-button {
	display: inline-block;
	padding: 0.2em 0.6em;
	border-radius: 0.2em;
	background-color: rgba(0, 0, 0, 0.1);
}

.toggle-button[data-state="off"] {
	color: rgba(0, 0, 0, 0.7);
}

/* tab-saver-item */

.tab-saver-item {
	--padding-x: 6px;
	--padding-y: 0px;
	margin-bottom: 1px;
}

.tab-saver-item__item {
	padding: var(--padding-y) var(--padding-x);
	background: hsla(200, 10%, 95%, 0.5);
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	line-height: 1.5em;
}

.tab-saver-item__title {
	flex-grow: 10;
	min-height: 1.4em;
	line-height: 1.4em;
}

.tab-saver-item__links-empty {
	content: "No tabs";
	font-weight: bold;
	display: block;
	margin-left: 0.2em;
	margin-right: 0.2em;
	margin-left: calc(var(--padding-x) * 1.4);
}

.tab-saver-item__link-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding-left: calc(var(--padding-x) * 1.4);
	padding-right: calc(var(--padding-x));
	line-height: 1.2em;
}

.tab-saver-item__link-remove-button,
.tab-saver-item__link-move {
	opacity: 0.6;
	margin-right: 0.9em;
}

.tab-saver-item__link-remove-button {
	font-size: 70%;
}

.tab-saver-item__link-container:not(:hover) .tab-saver-item__link-remove-button,
.tab-saver-item__link-container:not(:hover) .tab-saver-item__link-move {
	display: none;
}

.tab-saver-item__link {
	/* --color will be set in js */
	--color: Highlight;
	flex: 1;
	cursor: pointer;
	display: block;
	overflow: hidden;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: keep-all;
	color: Highlight;
	text-decoration: none;
}

.tab-saver-item__link[data-identity-name]:before {
	content: attr(data-identity-name) "";
	padding: 0.1em 0.3em;
	border-radius: 2px;
	margin-right: 0.2em;
	font-size: 85%;
	background-color: var(--color, "grey");
	color: #fff;
}

.tab-saver-item__link[data-identity-color="yellow"]:before {
	color: #777;
}

.tab-saver-item__link-move {
	font-size: 80%;
	line-height: 1em;
}

.tab-saver-item__title[contenteditable="true"] {
	font-weight: bold;
}

.tab-saver-item__controls {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	line-height: 1.5em;
	position: absolute;
	right: 0;
	padding-left: 0.3em;
	padding-right: 1em;
	background: #fff;

	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;

	transition: opacity 0.2s;
	line-height: 1.2em;
}

.tab-saver-item:not(:hover) .tab-saver-item__controls {
	opacity: 0;
}

.tab-saver-item__button {
	font-size: 130%;
}

.tab-saver-item__button-open,
.tab-saver-item__button-add,
.tab-saver-item__button-save {
	padding: 0;
}

.tab-saver-item__button-remove {
	font-size: 80%;
}

.tab-saver-item__button-more {
	position: relative;
	top: -0.25em;
}

/* tab-saver-items */

.tab-saver-items {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
}

.tab-saver-items:empty::after {
	content: "No TabSets";
	display: block;
	text-align: center;
	font-size: 110%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

/* tabsaver__tab */

.tabsaver__tab-title-favicon {
	width: 1em;
	height: 1em;
	vertical-align: bottom;
}

/* notification */

.notification {
	margin: 2px;
	padding: 2px;
	background: rgba(0, 0, 0, 0.05);
	text-align: center;
}

.notification:empty {
	display: none;
}

.prefs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background: hsl(0, 0%, 95%);
	-moz-user-select: none;
	user-select: none;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.prefs__pinned {
	flex: 1;
	padding: 0.5em;
}

.prefs__export,
.prefs__import {
	padding: 0.5em;
	text-align: center;
	border-radius: 0;
}

@media (max-width: 250px) {
	.main {
		min-width: 100px;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	.content {
		max-height: 100vh;
	}

	.save-new {
		padding: 2px;
	}
	.tab-saver-item {
		--padding-x: 4px;
	}
	.prefs {
		flex-wrap: wrap;
		height: auto;
	}
	.prefs__pinned {
		text-align: center;
	}
	.prefs__export,
	.prefs__import {
		flex-basis: 100%;
	}

	.prefs__pinned,
	.prefs__export,
	.prefs__import {
		padding: 0.2em;
	}
}

button {
	padding: 0;
}
